{% load static %}

<html>
<head>
	<title>Base App</title>
</head>
<body>
	<h1>Details</h1>
	{% if user.is_authenticated %}
	<div><a href="/logout">Logout</a></div>
	<div><a href="/add_category">Add a New category</a></div>

	{% else %}
	<div><a href="/register/">Register</a></div>
	<div><a href="/login">Login</a></div>
	{% endif %}
	<div>Here come the cats:</div>
	{% if categories %}
	<ul>
		{% for category in categories %}
			<li>{{category.name}}</li>
		{% endfor%}
	</ul>
	{% else %}
		<strong> There are no categories to present.</strong>
	{% endif %}
	{% if pages %}
		<h1>Top 5 pages</h1>
		{% for page in pages %}
			<div><a href="{{page.url}}">{{page.title}}</a></div>
		{% endfor %}
	{% endif %}
	<div><a href="/about/">About</a></div>

	<img src="{% static 'images/image.jpg' %}" alt="">
</body>
</html>
