{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}{{category_name}}{% endblock %}
{% block body_block %}
{{visits}}
	<h1>Details</h1>
	{% if user.is_authenticated %}
	<h1> Hello {{ user.usrname }}</h1>
	{% else %}
	<h1>Hello World!</h1>
	{% endif %}
	{% if categories %}
	<div>Here come the cats:</div>

	<ul>
		{% for category in categories %}
			<li><a href="/category/{{category.slug }}"></a>{{category.name}}</li>
		{% endfor%}
	</ul>
	{% else %}
		<strong> There are no categories to present.</strong>
	{% endif %}
	{% if pages %}
		<h1>Top 5 pages</h1>
		{% for page in pages %}
			<div><a href="{{page.url}}">{{page.title}}</a></div>
		{% endfor %}
	{% endif %}

		
	{% endblock %}

</body>
</html>
